<!DOCTYPE html>
<html lang="en">

<head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="{{ url_for('static',filename='css/bootstrap-select.css') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static',filename='css/sb-admin-2.min.css') }}" rel="stylesheet">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" /> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">

    <!-- JavaScript at end of body for optimized loading -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Materialize icons-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </script>
    <script src="static/jquery.js">
    
    </script>
    <script src="static/jquery2.js">
    </script>
 
    <!-- <script src="/MtechFinalProj/templates/static/jquery.js"></script> -->
    <!-- <script src="./scripts/2jquery.js"></script> -->
    <!-- <script src="./scripts/app.js"></script> -->

</head>

    <body id="page-top">
         <nav>
        <div class="nav-wrapper bg-dark">
            <h6 class="brand-logo">welcome {{username}}</h6>
           
            <ul class="right hide-on-med-and-down">
                 
                 

                <li><a href="{{url_for('admin_login')}}" class="text-white">Logout</a></li>
                
                
                
                
            </ul>
        </div>
    </nav> 
    <div class="row" style="margin-left:100px; margin-top:50px;">
       <div class="col-md-3">
     <a href="{{url_for('register_teachers')}}"><button class="btn-primary" style="height:100px; width:200px;"><i class="fa fa-users" aria-hidden="true"></i>Add Teachers</button></a>
     </div>
     <div class="col-md-3">
   <a href="{{url_for('view_teachers')}}"><button class="btn-danger" style="height:100px; width:200px;"><i class="fa fa-users" aria-hidden="true"></i> View All Teachers</button></a>
   </div>
     
     <div class="col-md-3">
   <a href="{{url_for('register_students')}}" class=""><button class="btn-primary" style="height:100px; width:200px;"><i class="fa fa-users" aria-hidden="true"></i>Add Students</button></a>
   </div>
   <div class="col-md-3">
 <a href="{{url_for('view_students2')}}"><button class="btn-danger" style="height:100px; width:200px;"><i class="fa fa-users" aria-hidden="true"></i>View All Students</button></a>
 </div>
   </div>
   
   <h4 class="text-center text-primary" style="margin-top:50px;">Add New Students</h4>
   <p class="text-center text-danger">{{marked}}</p>
   <div style=""  class="row" style ="width:200px;">
       
    
      
           <div class="col-md-6">
            <form class="form-group" action="/Register_s" method="POST">
           <label class="text-primary">Username</label>
           <input type="text" name="username" class="from-control">
           </div>
           <div class="col-md-6">
           <label class="text-primary">Password</label>
           <input type="text" name="password" class="form-control">
           </div>
           <div class="col-md-6">
           <label class="text-primary">Email</label>
           <input type="text" name="email" class="form-control">
           </div>
           <div class="col-md-6">
           <label class="text-primary">Gender</label>
           <input type="text" name="gender" class="form-control">
           </div>
           <input type="submit" value="Register" class="btn btn-primary form-control">
           
       </form>

   </div>
    
    </body>

    </html>
